{% extends '@Naidusvoe/layout.html.twig' %}

{% block title %}
    {% if app.user and is_granted('ROLE_USER') %}
        Naidusvoe
    {% else %}
        Naidusvoe
    {% endif %}
{% endblock %}

{% block base %}
    <base href="/">
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Головна</a>
            </div>

            <div class="collapse navbar-collapse" id="menu-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/trade">Куплю/Продам</a></li>
                    <li><a href="/found">Знайшов/Загубив</a></li>
                    <li><a href="/gift">Віддам/Потребую</a></li>
                </ul>

                {% if app.user and is_granted('ROLE_USER') %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/cabinet">Кабінет</a>
                        </li>
                        <li>
                            <a href="{{ path('naidusvoe_logout') }}" target="_self">
                                Вихід
                            </a>
                        </li>

                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('naidusvoe_login') }}" target="_self">Вхід</a></li>
                        <li><a href="{{ path('naidusvoe_signup') }}" target="_self">Реєстрація</a></li>
                    </ul>
                {% endif %}

            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="content">
                    <div ng-view></div>
                </div>
            </div>

            <div class="col-xs-12 hidden-md hidden-lg" style="padding: 50px;"></div>

            <div class="col-md-3 col-xs-12">
                <div class="list-group">
                    <div class="list-group-item">
                        <h2 align="center">Оголошення!</h2>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="img-responsive" src="{{ asset('bundles/naidusvoe/img/def.jpg') }}" />
                            </div>
                            <div class="col-xs-8">
                                <h4 class="text-info"><a href="">Оголошення 1</a></h4>
                                <p class="text-muted" style="overflow: hidden; text-overflow: ellipsis;">
                                    <i>Опис до оголошення 1</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="img-responsive" src="{{ asset('bundles/naidusvoe/img/def.jpg') }}" />
                            </div>
                            <div class="col-xs-8">
                                <h4 class="text-info"><a href="">Оголошення 2</a></h4>
                                <p class="text-muted" style="overflow: hidden; text-overflow: ellipsis;">
                                    <i>Опис до оголошення 2</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="img-responsive" src="{{ asset('bundles/naidusvoe/img/def.jpg') }}" />
                            </div>
                            <div class="col-xs-8">
                                <h4 class="text-info"><a href="">Оголошення 3</a></h4>
                                <p class="text-muted" style="overflow: hidden; text-overflow: ellipsis;">
                                    <i>Опис до оголошення 3</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="img-responsive" src="{{ asset('bundles/naidusvoe/img/def.jpg') }}" />
                            </div>
                            <div class="col-xs-8">
                                <h4 class="text-info"><a href="">Оголошення 4</a></h4>
                                <p class="text-muted" style="overflow: hidden; text-overflow: ellipsis;">
                                    <i>Опис до оголошення 4</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="img-responsive" src="{{ asset('bundles/naidusvoe/img/def.jpg') }}" />
                            </div>
                            <div class="col-xs-8">
                                <h4 class="text-info"><a href="">Оголошення 5</a></h4>
                                <p class="text-muted" style="overflow: hidden; text-overflow: ellipsis;">
                                    <i>Опис до оголошення 5</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}