<!DOCTYPE html>
<html lang="en" ng-app="NaiduSvoe">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Vladislav Kosko & ">
    <meta name="description" content="{% block description %} {% endblock %}">
    <title>{% block title %}Layout page{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/naidusvoe/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/naidusvoe/css/custom.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/naidusvoe/css/lightbox.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/naidusvoe/css/whirly.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}

    <script src="{{ asset('bundles/naidusvoe/js/jQuery/jquery-2.1.3.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/jQuery/jquery-migrate-1.2.1.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/Bootstrap/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/AngularJS/angular.min.js') }}" type="text/javascript"></script>

    {% block base %}{% endblock %}
</head>

<body ng-controller="ApplicationController" ng-cloak>
{% block nav %}

{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="{{ asset('bundles/naidusvoe/js/AngularJS/angular-route.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/AngularJS/angular-animate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/AngularJS/angular-translate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/AngularJS/angular-translate-loader-static-files.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/AngularJS/scrollglue.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/lightbox.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/naidusvoe/js/CustomAngular/appCore.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/CustomAngular/appController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/CustomAngular/indexController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/CustomAngular/tradingController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/CustomAngular/giftController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/CustomAngular/foundController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/CustomAngular/cabinetController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/naidusvoe/js/CustomAngular/advertismentController.js') }}" type="text/javascript"></script>

    <script type="text/javascript" language="JavaScript">
        var TEMPLATES = {
            'index': "{{ asset('bundles/naidusvoe/templates/index.html') }}",
            'trading': "{{ asset('bundles/naidusvoe/templates/trading.html') }}",
            'tradingAdv': "{{ asset('bundles/naidusvoe/templates/tradingAdv.html') }}",
            'gift': "{{ asset('bundles/naidusvoe/templates/gift.html') }}",
            'giftAdv': "{{ asset('bundles/naidusvoe/templates/giftAdv.html') }}",
            'found': "{{ asset('bundles/naidusvoe/templates/found.html') }}",
            'foundAdv': "{{ asset('bundles/naidusvoe/templates/foundAdv.html') }}",
            'cabinet': "{{ asset('bundles/naidusvoe/templates/cabinet.html') }}",
            'cabinetMessages': "{{ asset('bundles/naidusvoe/templates/cabinetMessages.html') }}",
            'cabinetSettings': "{{ asset('bundles/naidusvoe/templates/cabinetSettings.html') }}",
            'cabinetFavorites': "{{ asset('bundles/naidusvoe/templates/cabinetFavorites.html') }}",
            'cabinetConversation': "{{ asset('bundles/naidusvoe/templates/cabinetConversation.html') }}",
            'addAdvertisment': "{{ asset('bundles/naidusvoe/templates/addAdvertisment.html') }}",
            'additionalFeatures': "{{ asset('bundles/naidusvoe/templates/additionalFeatures.html') }}",
        };

        var URLS = {
            'lightBoxPlugin': "",
            'getAdvDetails': "{{ path('naidusvoe_get_adv_info') }}",
            'addAdv': "{{ path('naidusvoe_add_adv') }}",
            'getAdv': "{{ path('naidusvoe_get_adv', { 'adv_id': 'adv_id' }) }}",
            'getTradeAdvs': "{{ path('naidusvoe_get_trade_advs', { 'page_id': 'page_id', 'filter': 'category' }) }}",
            'getFoundAdvs': "{{ path('naidusvoe_get_found_advs', { 'page_id': 'page_id', 'filter': 'category' }) }}",
            'getGiftAdvs': "{{ path('naidusvoe_get_gift_advs', { 'page_id': 'page_id', 'filter': 'category' }) }}",
            'addToFav': "{{ path('naidusvoe_add_fav', { 'adv_id': 'adv_id' }) }}",
            'getUser': "{{ path('naidusvoe_get_user') }}",
            'getUserAdvs': "{{ path('naidusvoe_get_user_advs') }}",
            'deleteUserAdv': "{{ path('naidusvoe_delete_user_adv', { 'adv_id': 'adv_id' }) }}",
            'getFavs': "{{ path('naidusvoe_user_get_favs') }}",
            'deleteFav': "{{ path('naidusvoe_delete_fav', { 'fav_id': 'fav_id' }) }}",
            'sendNewMessage': "{{ path('naidusvoe_send_new_message', { 'user_id': 'user_id', 'adv_id': 'adv_id' }) }}",
            'getUserMessages': "{{ path('naidusvoe_get_user_messages') }}",
            'getConversation': "{{ path('naidusvoe_get_conversation', { 'conv_id': 'conv_id' }) }}",
            {% if app.user %}
                'getInfo': "{{ path('naidusvoe_get_user_info') }}",
                'saveInfo': "{{ path('naidusvoe_save_info', { 'user_id': app.user.id }) }}",
                'changePass': "{{ path('naidusvoe_change_password', { 'user_id': app.user.id }) }}",
                'changeEmail': "{{ path('naidusvoe_change_email', { 'user_id': app.user.id }) }}",
                'saveEmailSettings': "{{ path('naidusvoe_save_email_notification_settings', { 'user_id': app.user.id }) }}",
                'saveSmsSettings': "{{ path('naidusvoe_save_sms_notification_settings', { 'user_id': app.user.id }) }}",
                'deleteAccount': "{{ path('naidusvoe_delete_account') }}",
            {% endif %}
            'asset': "{{ asset('') }}",
            'switchLang': "{{ path('naidusvoe_set_lang') }}"
        };

        var LANG = "{{ app.session.get('lang') }}";
    </script>

{% endblock %}
</body>
</html>