<!DOCTYPE html>
<html lang="ru" ng-app="NaiduSvoe">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Vladislav Kosko">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}ZnaiduSvoe.com{% endblock %}</title>

    <base href="/">

    {% block stylesheets %}
        {% stylesheets '@css' filter='cssrewrite' output='assets/css/all.css' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" language="JavaScript">
            var LANG = "{{ app.session.get('lang') }}";
        </script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>

        {% javascripts
            '@vendors'
            '@modules'
            '@services'
            '@models'
            '@controllers'
            '@directives'
             output='assets/js/all.js'
        %}
        {#filter="uglifyjs2"#}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}

    {% block base %}
        <base href="/">
    {% endblock %}
</head>

<body ng-cloak>
    <div class="loader" main-spinner></div>

    <div id="wrapper">
        <div class="body-box">
            <div class="mova" ng-controller="ApplicationController as app">
                <ul>
                    <li class="ukr">
                        <a ng-click="switchLanguage('ua')" style="cursor: pointer;" title="Українською"></a>
                    </li>
                    <li class="ros">
                        <a ng-click="switchLanguage('ru')" style="cursor: pointer;" title="Русский"></a>
                    </li>
                </ul>
            </div>
            {% block nav %}
                <top-menu></top-menu>
                <div class="clearfix"></div>
            {% endblock %}

            {% block body %}
                <div ng-view></div>
            {% endblock %}

            {% block footer %}
                <div class="clearfix"></div>
                <main-footer></main-footer>
            {% endblock %}
        </div>
    </div>

</body>

</html>