{% extends '@Naidusvoe/index.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8">
                <h2 class="page-header text-center text-primary" style="font-size: 30px"> Увійти </h2>
                <form role="form" action="{{ path('naidusvoe_login_check') }}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Введіть логін або email" name="_username" value="{{ last_username }}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Введіть пароль" name="_password">
                    </div>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.message }}
                        </div>
                    {% endif %}

                    <div class="form-footer">
                        <input type="hidden" name="_target_path" value="/" />
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">[[ 'BUTTON_LOGIN' | translate ]]</button>
                        </div>
                        <div class="btn-group">
                            <a href="{{ path('naidusvoe_signup') }}" class="btn btn-primary">[[ 'BUTTON_SIGNUP' | translate ]]</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8">
                <div class="row">
                    <div class="col-xs-4">
                        <p>[[ 'VK_HEADER' | translate ]]</p>
                        <div class="btn-group">
                            <a href="{{ vk_url }}" class="btn btn-primary">
                                Vkontakte
                            </a>
                            <a></a>
                        </div>
                    </div>
                    <div class="col-xs-offset-4 col-xs-4">
                        <p>[[ 'FACEBOOK_HEADER' | translate ]]</p>
                        <div class="btn-group">
                            <a href="{{ fb_url }}" class="btn btn-primary">
                                Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}